  <!-- Footer -->

  <footer class="colored-section" id="footer">
    <div class="container-fluid">
      <a href="mailto:chethanrraj90@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
      <a href="https://chethanrraj90.github.io/My-Resume/" target="_blank"><i class="social-icon fas fa-regular fa-globe fa-2x" style="color: #fff;"></i></a>
      <a href="https://github.com/chethanrraj90" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
      <a href="https://www.linkedin.com/in/chethan-r-439325192" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
      
      <p>© <%= currentYear %> IAD</p>
    </div>
  </footer>


</body>

</html>
