<%- include('partials/header') %>
<%-include('partials/loadhead') %>
<body onload="myFunction()" style="margin:0;">

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <!-- complete body without including head -->
  <link rel="stylesheet" href="css/styles.css">
<div class="container-fluid">
<div class="about-section">
    <h1>About Our System</h1>
    
    <p><h4>Development of INSIDER ATTACK DETECTION(IAD), with Machine Learning and Deep Learning.</h4></p>
    <br>
    <p style="color: #fff;">Large numbers of businesses were affected by data infringes and Cyber -attacks due to dependency on internet. To prevent such malicious activity, the network requires a system that detects anomaly and inform the user and alerts the user.</p>
    <p style="color: #fff;">In our proposed work, we track the attackers using a user interaction behaviour pattern and 
      deep learning technique. The deep belief neural network is designed using a restricted Boltzmann machine 
      (RBM) so that the layer of RBM communicates with the previous and subsequent layers.</p>
    <p style="color: #fff;">CNN classifies insiders ans non insiders and then alerts if the person is a insider. This is web application acts as article of our project shows a information of our project and we have added many features in to it but this is not exaclty our project. </p>
    <p style="color: #fff;">The web appllication is fully responsive and completely based on session and cookies concepts. Once the user authenticated and logged-in It will not ask the user to enter the login parameters again and again (next visit). It ask login parameters only when user click on logout button. And also using google oauth 2.0 for user authentication and storing user details in salted hash in the mongoDB.</p>
    <p style="color: #fff;">This web application just a simple with simple features we have added to influence you to go ahead with our main project where it actually classifies nsiders and non-insiders and alerts if the user is insider.</p>
    <p style="color: #fff;">To view the project source code and features of our main project visit link below<br> https://github.com/ENG19CS0075-dsu-edu-in/Insider-Attack-Detection-Team12.git </p>
  </div>
</div>
  <br><br><br>
  <h1 style="text-align:center">Our Team</h1>
  
  <p><h4>Guide : Prof.Nandini K</h4></p>
    <br>
<div class="container-fluid">
  <div class="row" style="color: #fff;">
  <div class="card card-about text-center" style="width: 17rem; margin: 0px 30px 30px 30px; background-color: #71C9CE">
    <img class="card-img-top" src="css/adarsha.JPG" alt="adarsha">
    <div class="card-body"  >
      <h4 class="card-title">Adarsha Subramanya K K</h4>
      <!-- <h5 class="card-title">21BD5A0512</h5> -->
      <h6 class="card-title">ENG19CS0013</h6>
      <p class="card-text">I'm a Computer Science student. My theme of interest is Video Editing and developing  Software products.I am passionate to learn the functionalities of new softwares emerging in the market. I love to code and develop new applications using my programming skills.</p>
      <div class="container-fluid">
        <a href="https://github.com/Bhargavchinnakotla" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="https://github.com/Bhargavchinnakotla" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:adarsha@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>
  <div class="card card-about text-center" style="width: 17rem; margin: 0px 30px 30px 30px; background-color: #71C9CE">
    <img class="card-img-top" src="css/bharath.jfif" alt="bharath">
    <div class="card-body"  >
      <h4 class="card-title">Bharath kumar N</h4>
      <!-- <h5 class="card-title">21BD5A0511</h5> -->
      <h6 class="card-title">ENG19CS0064</h6>
      <p class="card-text"> I am passionate in learning new technologies and responsible towards working. Good in Presenting myself, with good communication skills. And I am passionate in learning new technologies and responsible towards my work. My theme of interest is web development. </p>
      <div class="container-fluid">
        <a href="https://github.com/Bhargavchinnakotla" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="https://github.com/Bhargavchinnakotla" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:bharath@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>
  <div class="card card-about text-center" style="width: 17rem; margin: 0px 30px 30px 30px; background-color: #71C9CE">
    <img class="card-img-top" src="css/bhargav.jfif" alt="bhargav">
    <div class="card-body"  >
      <h4 class="card-title">Bhargav Ram C S</h4>
      <!-- <h5 class="card-title">21BD5A0511</h5> -->
      <h6 class="card-title">ENG19CS0065</h6>
      <p class="card-text">Good in Presenting myself, with good communication skills , Good hands on  technical skills and with a belief in team work. My theme of interest is web development.  And I am passionate in learning new technologies and responsible towards my work.</p>
      <div class="container-fluid">
        <a href="https://github.com/Bhargavchinnakotla" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="https://www.linkedin.com/in/bhargav-ram-1399751ba" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:ramcsbhargav505@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>

  <div class="card card-about text-center" style="width: 17rem; margin: 0px 30px 30px 30px; background-color: #71C9CE">
    <img class="card-img-top" src="css/chethan.JPG" alt="chethan">
    <div class="card-body"  >
      
      <h4 class="card-title">Chethan R</h4>
      <!-- <h5 class="card-title">21BD5A0511</h5> -->
      <h6 class="card-title">ENG19CS0075</h6>
      <p class="card-text">I'm a Computer Science student. Good hands on technical skills and with a belief in team work. I like to create and design websites, web applications integrated with APIs, databases and machine learning algorithms etc. And I am passionate in learning new technologies and responsible towards my work.</p>
      <div class="container-fluid">
        <a href="https://chethanrraj90.github.io/My-Resume/" target="_blank"><i class="social-icon fas fa-regular fa-globe fa-2x" style="color: #fff;"></i></a>
        <a href="https://github.com/chethanrraj90" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
        <a href="https://www.linkedin.com/in/chethan-r-439325192" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
        <a href="mailto:chethanrraj90@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
        </div>
    </div>
  </div>

</div>
</div>

<%- include('partials/footer') %>
</div>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 200);
}
<%- include('partials/loadfoot') %>
